
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-1.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-2.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-3.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-4.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-5.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-6.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/front-assets/fonts/file-7.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-8.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-9.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-10.woff2') format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-11.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-12.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-13.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/front-assets/fonts/file-14.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-15.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-16.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-17.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-18.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-19.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/front-assets/fonts/file-20.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-21.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-22.woff2') format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-23.woff2') format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-24.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-25.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/front-assets/fonts/file-26.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/*!* cyrillic-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url('/front-assets/fonts.file-1.woff2') format('woff2');*/
/*  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url('/front-assets/fonts.file-2.woff2') format('woff2');*/
/*  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url('/front-assets/fonts.file-3.woff2') format('woff2');*/
/*  unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url('/front-assets/fonts.file-4.woff2') format('woff2');*/
/*  unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url('/front-assets/fonts.file-5.woff2') format('woff2');*/
/*  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2) format('woff2');*/
/*  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');*/
/*  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');*/
/*  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');*/
/*  unicode-range: U+1F00-1FFF;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');*/
/*  unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');*/
/*  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');*/
/*  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Dvucq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Dt-cq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7DsOcq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7DvOcq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Dvecq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7Pqths7Ds-cq.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
/*!* cyrillic-ext *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDvucq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;*/
/*}*/
/*!* cyrillic *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDt-cq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;*/
/*}*/
/*!* greek *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDsOcq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0370-03FF;*/
/*}*/
/*!* vietnamese *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDvOcq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;*/
/*}*/
/*!* latin-ext *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDvecq_mk.woff2) format('woff2');*/
/*  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;*/
/*}*/
/*!* latin *!*/
/*@font-face {*/
/*  font-family: 'Source Code Pro';*/
/*  font-style: normal;*/
/*  font-weight: 900;*/
/*  font-display: swap;*/
/*  src: url(https://fonts.gstatic.com/s/sourcecodepro/v14/HI_XiYsKILxRpg3hIP6sJ7fM7PqtvszDs-cq.woff2) format('woff2');*/
/*  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/
